{% include 'header.html' %}
{% include 'topbanner.html' %}
<section class="pt-0">
    <div class="container">
        {{ include('task/new.html') }}
        {% if content_data.tasks|length > 0 %}
        <table class="table" id="taskTable">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Пользователь</th>
                <th scope="col">email</th>
                <th scope="col">Описание</th>
                <th scope="col">Выполнено</th>
                {% if content_data.admin %}
                    <th scope="col">Редактировать</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for item in content_data.tasks %}
            <tr id="task{{item.id}}">
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.username }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.description }}</td>
                <td>
                    <input
                        type="checkbox"
                        class="form-check-input"
                        {% if not content_data.admin %} disabled="true" {% endif %}
                        {% if item.ready != 0 %} checked {% endif %}
                        onclick="changeStatus(this, '{{item.id}}')">
                </td>
                {% if content_data.admin %}
                    <td><a href="task/?action=edit&id={{ item.id }}"><i class="fa fa-edit"></i></a></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</section>
{% include 'footer.html' %}