<footer>
    <section class="u-py-40 bg-navy-dark">
        <div class="container">
            <p class="mb-0 text-center">
                &copy; 2013 — {{ "now"|date('Y') }} Все права защищены
            </p>
        </div>
    </section>
</footer>
<!-- jQuery -->
<script src="/assets/js/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script src="/assets/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script src="/assets/js/mdb.min.js"></script>

<!-- Docs for tables -> https://datatables.net-->
<script src="/assets/js/addons/datatables.min.js"></script>
<script src="/assets/js/addons/datatables-select.min.js"></script>
<script src="/assets/js/tableSort.js"></script>
<script src="/assets/js/functions.js"></script>
</body>
</html>